@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
html,body{
    padding: 0;
    margin:0;
    font-family: 'Noto Sans JP', sans-serif;
}
p{  text-align: center;
    font-size: 1.4rem;
    color: gray;
}
hr{
    width: 40%;
    justify-content: center;    
}
.navbar{
    background-color: black;
}
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff; 
    /* color: #00ffb3; */
    padding-left: 50px;
    font-size: 1.3rem;
}
.navbar-custom .navbar-nav .nav-link:hover {
    color: #00ffb3;
}
.custom-toggler{
    color: #00ffb3;
}



     /* home section */
.home{
    background-color: black;
}
.img-home{
    width: 100%

}
.home .row{
 padding: 10% 10% 15%;
}
.greeting{
    color: #00ffb3;
    padding-top: 8%;
    font-size: 2.6rem;
    font-weight: 400;
}
.name{
    font-weight:500;
    font-size: 3.3rem;
    color: #f8f3eb;
}
.title-tag{
    font-size: 1.2rem;
    color: #f8f3eb;
    font-weight: 400;
    padding-bottom:30px;
}

      /* social media */
.socialmedia{
    padding-left: 5%;
}
.fab{
    font-size: 2.0rem;
    padding: 10px;
    background-color:black;
    color: #f8f3eb;
}
.fab:hover{
    color: #00ffb3;
}


                     /* About */
.About{
    padding-top: 50px;
    margin: 1% 0 5%;
}
.About .row{
margin: 0 15%;
}
.about-title{
    padding: 30px;
    text-align: center;
}

/* experience */
.mytabs_area {
margin: 4% 0 0px;
}
.mytabs_area h1{
    text-align: center;
    padding: 50px;
}
  
 .tabs_inner .nav.nav-tabs {
    display: block;
    text-align: center;
    border: none;

 }
    .tabs_inner .nav.nav-tabs li {
      display: inline-block;
      margin-right: 8px; }
 .tabs_inner .tab-content .tab-pane .list {
    max-width: 650px;
    margin: auto;
    position: relative;
    padding-top: 40px;
    padding-bottom: 60px; }


    /* line */
.tabs_inner .tab-content .tab-pane .list:before {
      content: "";
      height: 85%;
      width: 5px;
      background: rgba(10, 107, 102, 0.2);
      position: absolute;
      left: 46.3%;
      transform: translateX(-50%);
      top: -5px; }
.tabs_inner .tab-content .tab-pane .list li {
      margin-bottom: 60px;
      position: relative; 
    }
      /* dot layout */
.tabs_inner .tab-content .tab-pane .list li span {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: block;
        margin: 0px 0px;
        background: rgba(26, 91, 110, 0.2);
        position: absolute;
        left: 42.5%;
        top: 20px;
        transform: translateX(-50%); }

        /* dot */
.tabs_inner .tab-content .tab-pane .list li span:before {
          content: '';
          height: 7px;
          width: 7px;
          margin: 0px 0px;
          background: rgb(0, 0, 0);
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 4px;
          transform: translateX(-50%);
         }

.tabs_inner .tab-content .tab-pane .list li .media .d-flex {
        padding-right: 100px;
     }
.HacktoberFest{
     padding-left: 100px;
 }
        /*     timeline */
.tabs_inner .tab-content .tab-pane .list li .media .d-flex p {
          color: #308c92;
          float: left;
         }
        /* completed */
.tabs_inner .tab-content .tab-pane .list li .media .media-body  h5 {
        color: rgb(0, 0, 0);
        font-size: 21px;
 }
        
          /*  school */
.tabs_inner .tab-content .tab-pane .list li .media .media-body p {
        color: rgba(216, 73, 73, 0.75);
}
           

